@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Righteous&family=Ubuntu+Mono&display=swap");

.wrapper,
html,
body {
  overflow-x: hidden;
  padding: 0;
}
body {
  margin: 0;
  background-color: #3b4253;
  word-break: keep-all;
  width: 100vw;
  color: #e5e9f0;
}

h2 {
  font-family: "Righteous";
  font-weight: 700;
  font-size: 60px;
}

h3 {
  font-family: "Righteous";
  font-weight: 500;
  font-size: 48px;
}
h4 {
  font-family: "Righteous";
  font-size: 36px;
}
h5 {
  font-family: "Righteous";
  font-size: 24px;
}
p {
  font-family: "Merriweather";
}
.code {
  font-family: "Ubuntu Mono";
}
/* LANDING */
.landing {
  height: 100vh;
}
.header {
  padding: 0px 240px;

  display: flex;
}
.header h5 {
  margin: 0;
  color: #e5e9f0;
  display: inline-block;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.icon {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
}

/* NAV */
nav {
  width: 100%;
  display: flex;
  align-items: center;

  z-index: 1000;
}
.gap {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  list-style: none;
  font-family: "Righteous";
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  display: block;
  margin: 0 16px;
  color: #e5e9f0;
  transform: scale(0);
  transition: transform 650ms;
}

.nav-item {
  position: relative;
  line-height: 40px;
  transition-delay: 0.5s;
  visibility: hidden;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #72faca;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.hamburger {
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  line-height: 40px;
  z-index: 1500;
}
.hamburger .line {
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
  right: 0;
  background-color: #fff;
  transition: all 200ms;
}

.hamburger .line:nth-child(1) {
  top: 0;
}
.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 32px;
}
.hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 24px;
}
.hamburger.active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  width: 32px;
}
.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  width: 32px;
}
.nav-list.active .nav-link {
  transform: scale(1);
}
.nav-list.active .nav-item {
  transition-delay: initial;
  visibility: visible;
}
.nav-list.active .nav-item:nth-child(1) .nav-link {
  transition-delay: 0.2s;
}
.nav-list.active .nav-item:nth-child(2) .nav-link {
  transition-delay: 0.16s;
}
.nav-list.active .nav-item:nth-child(3) .nav-link {
  transition-delay: 0.12s;
}
.nav-list.active .nav-item:nth-child(4) .nav-link {
  transition-delay: 0.08s;
}
.nav-list.active .nav-item:nth-child(5) .nav-link {
  transition-delay: 0.04s;
}

.nav-list .nav-item:nth-child(1) .nav-link {
  transition-delay: 0.04s;
}
.nav-list .nav-item:nth-child(2) .nav-link {
  transition-delay: 0.08s;
}
.nav-list .nav-item:nth-child(3) .nav-link {
  transition-delay: 0.12s;
}
.nav-list .nav-item:nth-child(4) .nav-link {
  transition-delay: 0.16s;
}
.nav-list .nav-item:nth-child(5) .nav-link {
  transition-delay: 0.2s;
}

.intro {
  display: flex;
  flex-flow: column;
  height: calc(100% - 64px);
  width: 100%;
  font-family: "Righteous";
  font-size: 72px;
  letter-spacing: 0px;
  scroll-snap-type: y mandatory;
}
.intro-content {
  width: 100%;
  height: 100%;
}
.intro .intro-left,
.intro .intro-right {
  display: flex;
  align-items: center;
  height: calc(100% - 64px);
}
.intro .intro-left {
  position: absolute;
  background-color: #80a0c2;
  width: 100%;
  left: -50%;
}
.intro .intro-right {
  width: 50%;
}
.intro .intro-terminal {
  height: 100%;

  color: #e5e9f0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* TERMINAL */

.intro .intro-terminal .terminal-hide,
.intro .intro-terminal .terminal-show {
  display: block;
  height: 80%;
  width: 100%;
  color: #e5e9f0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.intro .intro-terminal .intro-terminal-content {
  height: 100%;
}
.terminal-replay {
  width: 32px;
  position: absolute;
  z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin-top: 60px; */
}

.terminal-show {
  opacity: 1;
}
.terminal-hide {
  opacity: 0;
}

.intro .intro-text h1 {
  line-height: 120px;
  position: absolute;
}
.intro .intro-text h1 .semi-colon {
  color: #80a0c2;
}
.intro .intro-text h1 .bracket {
  color: #3b4253;
}

/* IMAGE */
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* PUNCTUATIONS */
.even {
  background-color: #1f2430;
}
.odd {
  background-color: #2a303c;
}
.even-comma {
  color: #1f2430;
}
.odd-comma {
  color: #2a303c;
}

/* BUTTON */
.button-container {
  text-align: center;
  background-color: #3b4253;
  line-height: 40px;
  width: 200px;
  margin: auto;
  border-radius: 4px;
}
.button-container a {
  width: 200px;
  color: #72FACA;
  text-decoration: none;
  font-family: "Ubuntu Mono";
  font-weight: 900;
  display: inline-block;
}
 
.hover-shadow:hover {
  box-shadow: 1px 1px #72FACA, 2px 2px #72FACA, 3px 3px #72FACA;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

/* SECTIONS */
.section {
  width: 100%;
}

.section-header {
  display: flex;
  flex-flow: row;
}
.section-header-svg {
  height: 100px;
  margin-left: 0;
}

.section-header h2 {
  padding-right: 20px;
  font-size: 68px;
}
.section-header-content {
  height: 100%;
}
.section-header-left-40 {
  width: 40%;
}
.section-header-left-40-content {
  padding: 40px 20px 40px 240px;
  text-decoration: underline;
  text-decoration-color: #1f2430;
}
.section-header-left-60 {
  width: 60%;
}
.section-header-left-60-content {
  padding: 40px 20px 40px 240px;
  text-decoration: underline;
  text-decoration-color: #2a303c;
}
.section-header-right-40 {
  width: 40%;
}
.section-header-right-60 {
  width: 60%;
}
.section-content {
  display: flex;
  flex-flow: row;
}
.section-content {
  height: 100%;
}
.section-content-left-40 {
  width: 40%;
  display: flex;
  flex-grow: 1;
}
.section-content-left-40-content {
  padding: 40px 20px 40px 240px;
  flex-grow: 1;
}
.section-content-left-60 {
  width: 60%;
  display: flex;
  flex-grow: 1;
}
.section-content-left-60-content {
  padding: 40px 20px 40px 240px;
  flex-grow: 1;
}
.section-content-right-40 {
  width: 40%;
  display: flex;
  flex-grow: 1;
}
.section-content-right-40-content {
  padding: 40px 240px 40px 20px;
  flex-grow: 1;
}
.section-content-right-60 {
  width: 60%;
  display: flex;
  flex-grow: 1;
}
.section-content-right-60-content {
  padding: 40px 240px 40px 20px;
  flex-grow: 1;
}
.section-footer {
  height: 120px;
}

.item-name {
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  margin: 4px;
  color: #e5e9f0;
}
.item-name.active {
  color: #d3fbd8;
}
.item-detail-title {
  font-weight: 700;
}
.experience .active {
  background-color: rgb(42, 48, 60, 0.5);
}
.projects .active {
  background-color: rgba(31, 36, 48, 0.5);
}
.projects .active:hover {
  background-color: #1f2430;
}
.skills .active {
  background-color: rgb(42, 48, 60, 0.5);
}

.experience .active:hover,
.skills .active:hover {
  background-color: #2a303c;
}
.show {
  display: block;
}
.hide {
  display: none;
}

/* ABOUT */
.txt-rotate {
  margin: 4px 0;
}
.txt-rotate span {
  padding: 4px;
  background-color: #1f2430;
  color: #d3fbd8;
}

/* EXPERIENCE */

/* PROJECTS */
.projects-content-right-content {  transition:height 1s ease-in-out;

  padding-right: 480px;
}
.projects-content-img {
  width: 680px;
  position: absolute;
  right: -220px;
  margin-top: -180px;
}

.projects-content-img.portrait {
  width: 340px;
  position: absolute;
  right: 0px;
  margin-top: -180px;
}

.projects-content-img img {
  width: 100%;
  border-radius: 20px;
}

/* SKILLS */
.skill {
  font-weight: 700;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  background-color: #3b4253;
}

/* CONTACT */
.contact {
  background-color: #e5e9f0;
  color: #3b4253;
  padding: 20px 0;
}

.contact h4 {
  margin: 0;
  padding: 20px 0;
}
.contact-header-left-content.section-header-left-60-content {
  text-decoration-color: transparent !important;
}
.full-stop {
  color: #80a0c2;
}
.contact-header-left {
  display: flex;
}
.contact-header-left-content {
  height: 100%;
  flex-grow: 1;
  padding: 0px 240px;
}
.contact-header-right {
  display: flex;
}
.contact-header-right-content {
  flex-grow: 1;
}
.contact-svgs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contact-svg {
  width: 32px;
  margin: 8px;
}

.mouse {
  max-width: 32px;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  height: 28px;
  right: 240px;
  z-index: 20;
  display: none;
  cursor: pointer;
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 28px;
}
.back-to-top-link img {
  filter: drop-shadow(3px 2px 1px   #3b856b);

}

@media screen and (max-width: 1500px) {
  .header {
    padding: 20px 120px;
  }
  .section-header-left-40-content {
    padding: 40px 20px 40px 120px;
  }
  .section-header-left-60-content {
    padding: 40px 20px 40px 120px;
  }
  .section-content-left-40-content {
    padding: 40px 20px 40px 120px;
  }
  .section-content-left-60-content {
    padding: 40px 20px 40px 120px;
  }
  .section-content-right-40-content {
    padding: 40px 120px 40px 20px;
  }
  .section-content-right-60-content {
    padding: 40px 120px 40px 20px;
  }

  .projects-content-right {
    flex-flow: column;
  }
  .projects-content-right-content {
    padding-right: 120px;
    display: flex;
    flex-flow: column;
  }
  .projects-content-imgs {
    position: relative;
    margin: auto;
    height: 320px;
  }
  .projects-content-img {
    position: relative;
    margin: auto;
    margin-bottom: -20px;
  }
  .projects-content-img.portrait {
    position: relative;
    margin: auto;
    margin-bottom: -20px;
    width: 280px;
  }
  .back-to-top {
    right: 120px;
  }
  .contact-header-left-content {
    padding: 0 120px;
  }
}
@media screen and (max-width: 1000px) {
  .section-content {
    flex-flow: column;
  }
  .section-content-left-40,
  .section-content-left-60,
  .section-content-right-40,
  .section-content-right-60 {
    width: 100%;
  }
  .section-content-left-40-content,
  .section-content-left-60-content,
  .section-content-right-40-content,
  .section-content-right-60-content {
    padding: 20px 120px;
  }
  .experience-content,
  .skills-content {
    flex-flow: column-reverse;
  }

  .projects-content-img {
    width: 480px;
  }
  .contact-header-left-content {
    padding: 0px 120px;
  }
}

@media screen and (max-width: 1000px) {
  .section-header-left-40-content {
    padding: 40px 20px 40px 40px;
  }
  .section-header-left-60-content {
    padding: 40px 20px 40px 40px;
  }
  .section-content-left-40-content,
  .section-content-left-60-content,
  .section-content-right-40-content,
  .section-content-right-60-content {
    padding: 20px 40px;
  }
  .section-header-svg {
    height: 60px;
  }
  .header {
    padding: 20px 40px;
  }
  .header h5 {
    font-size: 16px;
  }
  .projects-content-img {
    right: -28%;
    width: 100%;
  }
  .projects-content-img.portrait {
    right: -28%;
    width: 200px;
  }
  .contact-header-left-content {
    padding: 0px 40px;
  }
  .back-to-top {
    right: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 36, 48);
    position: fixed;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
    bottom: -100vh;
    transition: bottom 650ms;
  }
  .back-to-top {
    right: 40px;
  }
  .nav-list.active {
    bottom: 0;
  }
  .contact {
    padding: 4px 0;
  }
  .contact-header {
    flex-flow: column;
  }
  .contact-header-left,
  .contact-header-right {
    width: 100%;
    text-align: center;
  }
  .contact h4 {
    font-size: 24px;
  }
  .contact-svg {
    width: 24px;
  }
  .about-content-left-content h3 {
    font-size: 32px;
  }
  .txt-rotate {
    font-size: 28px;
  }
  .header h5 {
    display: none;
  }
  .hamburger.active {
    position: fixed;
    right: 40px;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
