@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Righteous&family=Ubuntu+Mono&display=swap");

body {
  margin: 0;
  background-color: #3b4253;
  word-break: keep-all;
  overflow-x: hidden;
  width: 100vw;
  color: #e5e9f0;
}

h2 {
  font-family: "Righteous";
  font-weight: 700;
  font-size: 60px;
}

h3 {
  font-family: "Righteous";
  font-weight: 500;
  font-size: 48px;
}
h4 {
  font-family: "Righteous";
  font-size: 36px;
}
h5 {
  font-family: "Righteous";
  font-size: 24px;
}
p {
  font-family: "Merriweather";
}
.code {
  font-family: "Ubuntu Mono";
}
/* LANDING */
.landing {
  height: 100vh;
}
.header {
  padding: 20px 240px;
  background-color: #e5e9f0;
}
.header h5 {
  margin: 0;
  color: #3b4253;
}
.intro {
  display: flex;
  flex-flow: row;
  height: calc(100% - 64px);
  width: 100%;
  font-family: "Righteous";
  font-size: 72px;
  letter-spacing: 0px;
  scroll-snap-type: y mandatory;
}
.intro .intro-left,
.intro .intro-right {
  display: flex;
  align-items: center;
  height: calc(100% - 64px);
}
.intro .intro-left {
  position: absolute;
  background-color: #80a0c2;
  width: 100%;
  left: -50%;
}
.intro .intro-right {
  width: 50%;
}
.intro .intro-text {
  height: 100%;
  width: 100%;
  color: #e5e9f0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .intro-text h1 {
  line-height: 120px;
}
.intro .intro-text h1 .semi-colon {
  color: #80a0c2;
}
.intro .intro-text h1 .bracket {
  color: #3b4253;
}

/* IMAGE */
.image {
}
.image img {
  width: 100%;
}

/* PUNCTUATIONS */
.even {
  background-color: #c16069;
}
.odd {
  background-color: #b58dae;
}
.even-comma {
  color: #c16069;
}
.odd-comma {
  color: #b58dae;
}

/* BUTTON */
.button-container {
  text-align: center;
  background-color: #3b4253;
  line-height: 40px;
  width: 200px;
  margin: auto;
  border-radius: 4px;
}
.button-container a {
  width: 200px;
  color: #e5e9f0;
  text-decoration: none;
  font-family: "Ubuntu Mono";
  font-weight: 900;
  display: inline-block;
}

.hover-shadow:hover {
  box-shadow:
  1px 1px #e5e9f0,
  2px 2px #e5e9f0,
  3px 3px #e5e9f0;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);

}

/* SECTIONS */
.section {
  width: 100%;
}
.section-header {
  display: flex;
  flex-flow: row;
}
.section-header h2 {
  padding-right: 20px;
  font-size: 68px;
}
.section-header-content {
  height: 100%;
}
.section-header-left-40 {
  width: 40%;
}
.section-header-left-40-content {
  padding: 40px 20px 40px 280px;
  text-decoration: underline;
  text-decoration-color: #c16069;
}
.section-header-left-60 {
  width: 60%;
}
.section-header-left-60-content {
  padding: 40px 20px 40px 280px;
  text-decoration: underline;
  text-decoration-color: #b58dae;
}
.section-header-right-40 {
  width: 40%;
}
.section-header-right-60 {
  width: 60%;
}
.section-content {
  display: flex;
  flex-flow: row;
}
.section-content {
  height: 100%;
}
.section-content-left-40 {
  width: 40%;
  display: flex;
  flex-grow: 1;
}
.section-content-left-40-content {
  padding: 40px 20px 40px 280px;
  flex-grow: 1;
}
.section-content-left-60 {
  width: 60%;
  display: flex;
  flex-grow: 1;
}
.section-content-left-60-content {
  padding: 40px 20px 40px 280px;
  flex-grow: 1;
}
.section-content-right-40 {
  width: 40%;
  display: flex;
  flex-grow: 1;
}
.section-content-right-40-content {
  padding: 40px 280px 40px 20px;
  flex-grow: 1;
}
.section-content-right-60 {
  width: 60%;
  display: flex;
  flex-grow: 1;
}
.section-content-right-60-content {
  padding: 40px 280px 40px 20px;
  flex-grow: 1;
}
.section-footer {
  height: 120px;
}
.item-name {
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  margin: 4px;
}
.item-detail-title {
  font-weight: 700;
}
.experience .active {
  /* background-color: #B58DAE; */
  background-color: rgba(181, 141, 174, 0.5);
}
.projects .active {
  /* background-color: #C16069; */
  background-color: rgba(193, 96, 105, 0.5);
}
.projects .active:hover {
  background-color: #c16069;
}
.skills .active {
  /* background-color: #B58DAE; */
  background-color: rgba(181, 141, 174, 0.5);
}

.experience .active:hover,
.skills .active:hover {
  background-color: #b58dae;
}
.show {
  display: block;
}
.hide {
  display: none;
}

/* ABOUT */
.txt-rotate span {
  padding: 4px;
  background-color: #c16069;
}

/* EXPERIENCE */

/* PROJECTS */
.projects-content-right-content {
  padding-right: 480px;
}
.projects-content-img {
  width: 680px;
  position: absolute;
  right: -220px;
  margin-top: -180px;
}

.projects-content-img img {
  width: 100%;
  border-radius: 20px;
}

/* SKILLS */
.skill {
  font-weight: 700;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  background-color: #3b4253;
}

/* CONTACT */
.contact {
  background-color: #e5e9f0;
  color: #3b4253;
}

.contact h4 {
  margin: 0;
  padding: 20px 0;
}
.contact-header-left-content.section-header-left-60-content {
  text-decoration-color: transparent !important;
}
.full-stop {
  color: #80a0c2;
}
.contact-header-left {
  display: flex;
}
.contact-header-left-content {
  height: 100%;
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 0;
}
.contact-header-right {
  display: flex;
}
.contact-header-right-content {
  flex-grow: 1;
}
.contact-svgs {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}
.contact-svg {
  width: 40px;
  margin: 8px;
}
